body {
font-family: Arial, sans-serif;
padding: 20px;
width: 100%;
}

h2 {
text-align: center;
}

form {
display: flex;
line-height: 20px;
flex-direction: column;
max-width: 100%;
margin: 0 auto;
border: black solid 2px;
padding: 20px 20px 20px;
}

span{
    color: red;
}

label {
margin-top: 10px;
}


.apply{
    text-align: center;
}

input{
    border: none;
    outline: none;
    right: 0;
    border-bottom: black dashed 0.5px;
}
form-group{
    border: rgb(223, 45, 45) solid 1px;
}

@media only screen and (min-width: 600px) {

    form{
        background-color: white;
        max-width: 100%;
        font-size: 40px;
        color: black;
        padding-left: 40px;
        line-height: 90px;
        margin: 20px 20px 20px 20px;
        
    }
    input[type="submit"], input[type="reset"]{
        width: 400px;
        height: 45%;
        font-size: 50px;
        margin-right: 30px;
        color: black ;
        border: rgb(246, 12, 12) solid 10px;
        border-radius: 10px;
    }
    input[type="submit"]:hover, input[type="reset"]:hover{
        color: white ;
        background-color: black;
        border: black solid 10px;
        border-radius: 10px
    }

    a{
        color: #1E90FF;
        font-size: 45px;
        text-decoration: none;
    }
  
    label {
        
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
        }

    input{
        font-size: 50px;
        background-color: transparent;
        border: rgb(226, 92, 20) solid 2px;
        width: 90%;
        padding: 40px 30px 30px;
        color: black;
        }
    input[type="checkbox"], input[type="radio"] {
            margin-right: 20px ;
            width: 50px;
            height: 50px;
            border: 2px solid #0c33df;
            border-radius: 4px;
            outline: none;
            transition: border-color 0.3s;
            cursor: pointer;
        }
        
    input[type="checkbox"]:checked {
            /* Style the checkbox when checked */
            border-color: #1E90FF;
            background-color: #1E90FF;
        }
    .comment-box {
        width: 95%;
        height: 200px;
        font-size: 25px;
        border: rgb(226, 92, 20) solid 2px;
        
    }

    .form-gender{
        font-size: 50px;
        line-height: 30px;
        margin: 40px 10px 40px;
    }

   

    p{
        text-align: center;
        font-size: 15px;
    }

    #firstName,#lastname{
        width: 41%;
        height: 45%;
        padding: 40px 30px 30px;
    }

    select{
        width: 97%;
        height:130px;
        font-size: 50px;
        border: none;
        border: rgb(226, 92, 20) solid 2px;
    }
    .form-group
    {
        line-height: 120px;
    }
    #qualification{
        background-color: transparent;
        padding: 10px;
        font-style: italic;
    }

    #adhar{
        font-size:43px;
    }
        .form-adhar{
        margin-top: 25px;
        border: #e25c14 solid 2px;
        padding: 20px;
        text-align: center;
        width: 93%;
    }

    input[type="file"]{
        border: none;
        margin-left: 50px;
    }
}
